body {
  background: #0f0f0f;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  box-shadow: 0 0 20px #0ff;
}

h1 {
  color: #0ff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  margin-bottom: 10px;
}

#searchInput {
  padding: 10px;
  margin-top: 10px;
  width: 60%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #f0f;
  background-color: #1f1f1f;
  color: white;
}

#searchButton {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #f0f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px #f0f;
  transition: all 0.3s;
}

#searchButton:hover {
  box-shadow: 0 0 15px red;
}

#videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; /* Space between cards */
  padding: 30px 0;
}

.video-card {
  background: #1a1a1a;
  padding: 15px;
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 15px #0ff;
}

.video-card iframe {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.social-btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  color: #fff;
  box-shadow: 0 0 10px #fff;
}

.social-btn.youtube {
  background: #ff0000;
}

.social-btn.facebook {
  background: #3b5998;
}

.social-btn.tiktok {
  background: #000;
}

.social-btn:hover {
  opacity: 0.8;
}

footer {
  margin-top: 40px;
  padding: 10px;
  color: #ccc;
  text-shadow: 0 0 5px #0ff;
}

.help-section {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #0ff;
  margin: center;
  text-shadow: 0 0 10px #0ff;
  z-index: 1000;
}

.help-section p {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

.help-button {
  display: inline-block;
  background-color: #0ff;
  color: #000;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 0 15px #0ff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.help-button:hover {
  background-color: #00c6c6;
  color: #fff;
  box-shadow: 0 0 25px #00c6c6;
}
